<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Edit User</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>

		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Users")</script>
		<div class="navigation-content" style="padding: 50px 20px;" th:with="exists=${user.id != null and !user.id.isEmpty()}">
			<div class="overflow">
				<form class="form-grid-2" th:action="@{/studio/users/edit}" th:object="${user}" method="POST">
	        		<span th:if="${exists}">ID:</span>
					<div th:if="${exists}" class="mg-b"><span class="transparent-blue r-1" style="padding: 0px 5px; font-size: 18px;" th:text="${user.id}"></span></div>
	        		<span th:style="${exists} ? 'display: none' : ''">ID:</span>
					<input th:style="${exists} ? 'display: none' : ''" type="text" th:field="*{id}" required>
	        		<span>Name:</span>
					<input type="text" th:field="*{name}" required>
					<span>Email:</span>
					<input type="email" th:field="*{email}">
					<span>Roles:</span>
					<input type="text" th:field="*{roles}" required>
					<span>Password:</span>
					<a th:href="@{'/password?id=' + ${user.id}}">Change Password</a>
					<a th:if="${exists}" class="button red width-100" th:href="@{'/studio/users/delete?id=' + ${user.id}}">Delete</a>
					<a th:unless="${exists}" class="button red width-100" href="/studio/users">Cancel</a>
					<input type="submit" value="Save" class="mg-0">
					<input style="display: none;" type="text" th:field="*{password}">
					<input style="display: none;" type="text" th:field="*{forcePasswordChange}">
	        	</form>
			</div>
        </div>
    </body>
</html>