<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Edit Station</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>

		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Stations")</script>
		<div class="navigation-content overflow" style="padding: 50px 20px;" th:with="exists=${station.id != null and !station.id.isEmpty()}">
			<div class="overflow">
				<form class="form-grid-2" th:action="@{/studio/stations/edit}" th:object="${station}" method="POST">
	        		<span th:if="${exists}">ID:</span>
					<div th:if="${exists}"><span class="transparent-blue id" th:text="${station.id}"></span></div>
	        		<span th:style="${exists} ? 'display: none' : ''">ID:</span>
					<input th:style="${exists} ? 'display: none' : ''" type="text" th:field="*{id}" required>
	        		<span>Name:</span>
					<input type="text" th:field="*{name}" required>
					<span>Platfroms:</span>
					<input type="number" th:field="*{platforms}" min="1" max="99" value="1" required>
					<a th:if="${exists}" class="button red width-100"  th:href="@{'/studio/stations/delete?id=' + ${station.id}}">Delete</a>
					<a th:unless="${exists}" class="button red width-100" href="/studio/stations">Cancel</a>
					<input type="submit" value="Save">
	        	</form>
			</div>
        </div>

    </body>
</html>