<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Edit Line</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Lines")</script>
		<div class="navigation-content" style="padding: 50px 20px;" th:with="exists=${line.id != null and !line.id.isEmpty()}">
			<form th:action="@{/studio/lines/edit}" th:object="${line}" method="POST" onsubmit="removeTemplate()">
				<div class="blue-border r-2 form-grid form-grid-4 fit-content overflow" style="margin: 0px auto 50px auto;">
					<span th:if="${exists}" class="fit-content">ID:</span>
					<div th:if="${exists}" class="mg-b"><span class="transparent-blue r-1" style="padding: 0px 5px; font-size: 18px;" th:text="${line.id}"></span></div>
	        		<span th:style="${exists} ? 'display: none' : ''">ID:</span>
					<input th:style="${exists} ? 'display: none' : ''" type="text" th:field="*{id}" required>
					<span>Type:</span>
					<select th:field="*{type}">
	    				<option th:each="type : ${trainType}" th:value="${type}" th:text="${type.getToken()} + ' (' + ${type.getName()} + ')'" th:selected="${line.type == type}"></option>
	  				</select>
					<span>Number:</span>
					<input type="number" min="1" max="9999" th:field="*{number}" required>
					<span>Operator:</span>
					<input type="text" th:field="*{operator}" required>
					<span>Driver:</span>
					<input type="text" th:field="*{driver}" required>
					<span>Departure:</span>
					<input type="time" th:field="*{departure}" required>
					<span>Cancelled:</span>
					<select th:field="*{cancelled}">
	    				<option value="false" th:selected="!${line.cancelled}">False</option>
	    				<option value="true" th:selected="${line.cancelled}">True</option>
	  				</select>
					<span>Delay:</span>
					<input type="number" min="0" max="9999" th:field="*{delay}" required>
					<div></div>
					<div></div>
					<a th:if="${exists}" class="button red mg-0 width-100" th:href="@{'/studio/lines/delete?id=' + ${line.id}}">Delete</a>
					<a th:unless="${exists}" class="button red mg-0 width-100" href="/studio/lines">Cancel</a>
					<input type="submit" value="Save" class="mg-0">
				</div>
				<div class="row blue-border r-2 box-table" style="max-width: 883px; margin: 0px auto;">
					<div class="overflow">
						<table class="pd-0 mg-0" style="height: 1px;" id="stations">
							<tr>
								<th style="min-width: 150px;">Station</th>
								<th>Pl.</th>
								<th>Time</th>
								<th style="min-width: 100px;">Cancelled</th>
								<th>Delay</th>
								<th>New Pl.</th>
								<th style="min-width: 100px;">Passed</th>
								<th></th>
							</tr>
							<tr index="INDEX" id="template">
								<td>
									<input list="stationNames" id="stationsINDEX.id" name="stations[INDEX].id"/>
		  							<input style="display: none;" type="text" id="stationsINDEX.name" name="stations[INDEX].name">
								</td>
								<td>
									<input type="number" min="1" max="9999" required id="stationsINDEX.platform" name="stations[INDEX].platform" value="1">
								</td>
								<td>
									<input style="display: none;" type="time" required id="stationsINDEX.departure" name="stations[INDEX].departure" value="00:00">
									<input type="number" min="0" max="9999" required id="stationsINDEX.travelTimeFromLastStation" name="stations[INDEX].travelTimeFromLastStation" value="0">
								</td>
								<td>
									<select id="stationsINDEX.cancelled" name="stations[INDEX].cancelled">
		    							<option value="false" selected="selected">False</option>
		    							<option value="true">True</option>
		  							</select>
								</td>
								<td>
									<input type="number" min="0" max="9999" required id="stationsINDEX.delay" name="stations[INDEX].delay" value="0">
								</td>
								<td>
									<input type="number" min="0" max="9999" required id="stationsINDEX.changedPlatform" name="stations[INDEX].changedPlatform" value="0">
								</td>
								<td>
									<select id="stationsINDEX.passed" name="stations[INDEX].passed">
		    							<option value="false" selected="selected">False</option>
		    							<option value="true">True</option>
		  							</select>
								</td>
								<td>
									<a class="button" onclick="removeStation(INDEX)">Remove</a>
								</td>
							</tr>
							<tr th:each="station, status : *{stations}" th:attrappend="index=${status.index}">
								<td>
									<input list="stationNames" th:field="*{stations[__${status.index}__].id}"/>
		  							<input style="display: none;" type="text" th:field="*{stations[__${status.index}__].name}">
								</td>
								<td>
									<input type="number" th:field="*{stations[__${status.index}__].platform}" min="1" max="9999" required>
								</td>
								<td>
									<input style="display: none;" type="time" th:field="*{stations[__${status.index}__].departure}" required>
									<input type="number" th:field="*{stations[__${status.index}__].travelTimeFromLastStation}" min="0" max="9999" required>
								</td>
								<td>
									<select th:field="*{stations[__${status.index}__].cancelled}">
		    							<option value="false" th:selected="!*{stations[__${status.index}__].cancelled}">False</option>
		    							<option value="true" th:selected="*{stations[__${status.index}__].cancelled}">True</option>
		  							</select>
								</td>
								<td>
									<input type="number" th:field="*{stations[__${status.index}__].delay}" min="0" max="9999" required>
								</td>
								<td>
									<input type="number" th:field="*{stations[__${status.index}__].changedPlatform}" min="0" max="9999" required>
								</td>
								<td>
									<select th:field="*{stations[__${status.index}__].passed}">
		    							<option value="false" th:selected="!*{stations[__${status.index}__].passed}">False</option>
		    							<option value="true" th:selected="*{stations[__${status.index}__].passed}">True</option>
		  							</select>
								</td>
								<td>
									<a class="button" th:attrappend="onclick=${'removeStation(' + status.index + ')'}">Remove</a>
								</td>
							</tr>
						</table>
					</div>
					<div style="display:flex; gap: 20px;"><div class="width-100"></div>
						<input type="submit" value="Save" class="mg-0 button" style="display: inline-block; width: auto;">
						<a class="button" style="margin-left: auto;" onclick="addStation()">Add Station</a>
					</div>
					<datalist id="stationNames">
						<option th:each="stationObject : ${stationObjects}" th:value="${stationObject.id}" th:text="${stationObject.id} + ' (' + ${stationObject.name} + ')'"></option>
					</datalist>
				</div>
			</form>
		</div>

    </body>
</html>