<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Edit Line</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Lines")</script>
		<div class="navigation-content" style="padding: 50px 20px;" th:with="exists=${line.id != null and !line.id.isEmpty()}">
			<form th:action="@{/studio/lines/edit}" th:object="${line}" method="POST" onsubmit="removeTemplate()">
				<div class="overflow">
					<div class="form-grid-4">
						<span>ID:</span>
						<div><span class="transparent-blue id" th:text="${exists ? line.id : 'auto'}"></span></div>
						<input style="display: none" type="text" th:field="*{id}" pattern="^([A-Za-z0-9]|-|_|@|.){3,20}$" title="You need between 3 and 20 characters, following characters are allowed A-Z, a-z, 0-9, _, -" >
						<span>Type:</span>
						<select th:field="*{type}">
	    					<option th:each="type : ${trainType}" th:value="${type}" th:text="${type.getToken()} + ' (' + ${type.getName()} + ')'" th:selected="${line.type == type}"></option>
	  					</select>
						<span>Number:</span>
						<input type="number" min="1" max="9999" th:field="*{number}" required>
						<span>Length:</span>
						<input type="number" min="1" max="9999" th:field="*{length}" required>
						<span>Operator:</span>
						<input type="text" th:field="*{operator}" required>
						<span>Driver:</span>
						<input type="text" th:field="*{driver}" required>
						<span>Cancelled:</span>
						<select th:field="*{cancelled}">
	    					<option value="false" th:selected="!${line.cancelled}">False</option>
	    					<option value="true" th:selected="${line.cancelled}">True</option>
	  					</select>
						<a th:if="${exists}" class="button red mg-0 width-100" th:href="@{'/studio/lines/delete?id=' + ${line.id}}">Delete</a>
						<div th:unless="${exists}"></div>
						<input type="submit" value="Save" class="mg-0">
					</div>
				</div>
				<div class="overflow" style="margin-top: 50px;">
					<div class="blue-border r-10 mg-center fit-content">
					<div class="form-grid-stations" style="border: none;" id="stations">
						<div style="display: contents; font-size: 15px;">
							<span>Station</span>
							<span>Pl.</span>
							<span>Time</span>
							<span>Cancelled</span>
							<span>Delay</span>
							<span>New Pl.</span>
							<span>Passed</span>
							<span></span>
						</div>
						<div index="INDEX" style="display: contents;" id="template">
							<input list="stationNames" id="stationsINDEX.id" name="stations[INDEX].id"/>
		  					<input style="display: none;" type="text" id="stationsINDEX.name" name="stations[INDEX].name">
		  					<input type="number" min="1" max="9999" required id="stationsINDEX.platform" name="stations[INDEX].platform" value="1">
							<input type="time" required id="stationsINDEX.departure" name="stations[INDEX].departure" value="00:00">
							<select id="stationsINDEX.cancelled" name="stations[INDEX].cancelled">
		    					<option value="false" selected="selected">False</option>
		    					<option value="true">True</option>
		  					</select>
		  					<input type="number" min="0" max="9999" required id="stationsINDEX.delay" name="stations[INDEX].delay" value="0">
							<input type="number" min="0" max="9999" required id="stationsINDEX.changedPlatform" name="stations[INDEX].changedPlatform" value="0">
							<select id="stationsINDEX.passed" name="stations[INDEX].passed">
		    					<option value="false" selected="selected">False</option>
		    					<option value="true">True</option>
		  					</select>
		  					<span><a class="button" onclick="removeStation(INDEX)">Remove</a></span>
						</div>
						<div th:each="station, status : *{stations}" th:attrappend="index=${status.index}" style="display: contents">
							<input list="stationNames" th:field="*{stations[__${status.index}__].id}"/>
		  					<input style="display: none;" type="text" th:field="*{stations[__${status.index}__].name}">
							<input type="number" th:field="*{stations[__${status.index}__].platform}" min="1" max="9999" required>
							<input type="time" th:field="*{stations[__${status.index}__].departure}" required>
							<select th:field="*{stations[__${status.index}__].cancelled}">
		    					<option value="false" th:selected="!*{stations[__${status.index}__].cancelled}">False</option>
		    					<option value="true" th:selected="*{stations[__${status.index}__].cancelled}">True</option>
		  					</select>
							<input type="number" th:field="*{stations[__${status.index}__].delay}" min="0" max="9999" required>
							<input type="number" th:field="*{stations[__${status.index}__].changedPlatform}" min="0" max="9999" required>
							<select th:field="*{stations[__${status.index}__].passed}">
		    					<option value="false" th:selected="!*{stations[__${status.index}__].passed}">False</option>
		    					<option value="true" th:selected="*{stations[__${status.index}__].passed}">True</option>
							</select>
		  					<span><a class="button" th:attrappend="onclick=${'removeStation(' + status.index + ')'}">Remove</a></span>
						</div>
					</div>
					<div class="form-grid-1 mg-0" style="display:grid; gap: 30px; grid-template-columns: repeat(2, fit-content(100px)); border: none; padding-top: 0px; margin-left: auto !important;">
						<input type="submit" value="Save" class="mg-0 button" style="display: inline-block; width: auto;">
						<a class="button" onclick="addStation()">Add Station</a>
					</div>
					<datalist id="stationNames">
						<option th:each="stationObject : ${stationObjects}" th:value="${stationObject.id}" th:text="${stationObject.id} + ' (' + ${stationObject.name} + ')'"></option>
					</datalist>
				</div>
				</div>
			</form>
		</div>

    </body>
</html>