<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Reset Password</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>

        <div style="padding: 50px 20px;" th:with="id=${param.id}, token=${param.token}">
        	<form class="form-grid-1"th:action="@{'/reset?id=' + ${id} + '&token=' + ${token}}" method="POST">
				<h2>Reset Password</h2>
				<input style="display: none;" type="text" name='user' path="user" th:value="${param.id}">
				<div>
					<span>New password:</span>
					<input type="password" name='new-password' path="new-password" required>
				</div>
				<div>
					<span>Repeat new password:</span>
					<input type="password" name='repeat-new-password' path="repeat-new-password" required>
				</div>
				<span class="red-text" th:if="${param.error != null}" th:text="${param.error}"></span>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Reset Password">
			</form>
        </div>

    </body>
</html>