h1, h2, h3, h4, h5, h6 {
    color: #004dff;
}

a{
    white-space: nowrap;
}

.search{
	padding: 15px;
	font-size: 18px;
}

.id{
	padding: 1px 6px;
	border-radius: 5px;
	border: none !important;
}

.title{
    font-size: 24px;
    min-height: 35px;
}

@media (max-width: 767px) {
    .title{font-size: 20px;}
}

.box-station{
    display: flex;
    display: -webkit-flex;
}

.box-station > *:first-child{
    width: 100%;
    margin: auto 0px;
}

@media (max-width: 767px) {
    .box-station{flex-direction: column;}
    .box-station > *:last-child{margin-top: 20px;}
    .box-station > *:last-child > a{width: 100%;}
}

.box-line > *{
    display: flex;
    display: -webkit-flex;
    gap: 30px;
}

.box-line > * > *{
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    gap: 30px;
}

.box-table > *:first-child{
	 display: grid;
	 grid-template-columns: repeat(2, fit-content(100px)) auto;
	 padding-bottom: 30px;
	 gap: 20px 10px;
}

.box-table > *:first-child > .content {
	display: contents;
	padding: 0px;
}

.box-table .passed{
	min-width: 65px;
}

.box-table .circle{
	position: absolute; 
	width: 12px; 
	height: 12px; 
	border-radius: 6px;
	margin-top: 10px;
	z-index: 1;
}

.box-table .line{
	position: absolute;
	width: 4px; 
	height: calc(100% + 20px);
	border-radius: 5px;
	margin-left: 4px;
	margin-top: 17px;
	top: calc(-100% - 20px);
}

.table-grid{
	display:grid;
	gap: 3px 0px;
	border-radius: 5px;
	padding: 3px;
	min-width: fit-content;
	align-items: center;
	line-height: 42px;
	background-color: #e6e6e6;
}

.table-grid > *, .table-grid > .content > *{
	box-sizing: border-box;
	height: 100% !important;
	width: 100% !important;
	padding: 10px;
	background-color: white;
}

@media (prefers-color-scheme: dark) {
	.table-grid{background-color: #1a1a1a;}
	.table-grid > *, .table-grid > .content > *{background-color: black;}
}

.lightmode .table-grid{background-color: #e6e6e6;}
.lightmode .table-grid > *, .lightmode  .table-grid > .content > *{background-color: white;}
.darkmode td, th{background-color: #1a1a1a;}
.darkmode .table-grid > *, .darkmode .table-grid > .content > *{background-color: black;}

.table-grid > .content {
	display: contents;
	padding: 0px;
}

[class*="form-grid"]{
	width: fit-content;
	margin: 0px auto;
	display: grid;
	gap: 30px;
	padding: 50px;
	border: solid 3px #004dff;
	border-radius: 10px;
}

[class*="form-grid"] > *:first-child{
	margin-top: 0px;
}

[class*="form-grid"] > *:last-child{
	margin-bottom: 0px;
}

@media only screen and (max-width: 1024px){
    [class*="form-grid"]{padding: 30px}
}

.form-grid-1{grid-template-columns: minmax(auto, 300px);}
.form-grid-2{grid-template-columns: fit-content(100%) minmax(auto, 300px);}
.form-grid-4{grid-template-columns: fit-content(100%) minmax(auto, 300px) fit-content(100%) minmax(auto, 300px);}
.form-grid-stations{grid-template-columns: minmax(120px, 250px) minmax(60px, 80px) minmax(90px, 90px) 80px repeat(2, minmax(60px, 80px)) 80px fit-content(100%);}

@media only screen and (max-width: 1024px){
	.form-grid-4{grid-template-columns: fit-content(100%) minmax(auto, 300px);}
}

#template{
	display: none !important;
}
