@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/* body */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    background-color: white;
    font-size: 18px;
    line-height: 35px;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
}

::selection {
    background: #004dff;
    color: #ffffff;
}

.center{
    text-align: center;
}

.clearfix{
    clear: both;
}

.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}

.height-100{
    height: 100% !important;
}

.width-100{
    width: 100% !important;
}

.nowrap{
    white-space: nowrap !important;
}

.fit-content{
    width: fit-content !important;
}

.show{
    display: block !important;
}

@media (min-width: 769px) {.only-mobile{display: none !important}}
@media (max-width: 768px) {.not-mobile{display: none !important}}

.darkmode .only-lightmode{display: none !important;}
.lightmode .only-darkmode{display: none !important;}

@media (prefers-color-scheme: dark) {
    .only-lightmode{display: none !important;}
    .lightmode .only-lightmode{display: initial !important;}
    
}
@media (prefers-color-scheme: light) {
    .only-darkmode{display: none !important;}
    .darkmode .only-darkmode{display: initial !important;}
}

@media (max-width: 768px) {body{font-size: 15px; line-height: 30px;}}

/* colors */

.white{background-color: white !important;  border-color: white !important; color: black !important;}
.white-text{color: white !important;}
.black{background-color: black !important; border-color: black !important; color: white !important;}
.black-text{color: black !important;}

@media (prefers-color-scheme: dark) {
    .white{background-color: black !important; border-color: black !important; color: white !important;}
    .white-text{color: black !important;}
    .black{background-color: white !important; border-color: white !important; color: black !important;}
    .black-text{color: white !important;}
}

.lightmode .white{background-color: white !important; border-color: white !important; color: black !important;}
.lightmode .white-text{color: white !important;}
.lightmode .black{background-color: black !important; border-color: black !important; color: white !important;}
.lightmode .black-text{color: black !important;}

.darkmode .white{background-color: black !important; border-color: black !important; color: white !important;}
.darkmode .white-text{color: black !important;}
.darkmode .black{background-color: white !important; border-color: white !important; color: black !important;}
.darkmode .black-text{color: white !important;}

.dark-grey{background-color: #cccccc !important; border-color: #cccccc !important; color: black !important;}
.grey{background-color: #e6e6e6 !important; border-color: #e6e6e6 !important; color: black !important;}
.grey-border{border: solid 3px #e6e6e6 !important;}
.grey-text{color: #808080 !important;}

@media (prefers-color-scheme: dark) {
    .dark-grey{background-color: #333333 !important; border-color: #333333 !important; color: white !important;}
    .grey{background-color: #1a1a1a !important; border-color: #1a1a1a !important; color: white !important;}
    .grey-border{border: solid 3px #1a1a1a !important;}
}

.lightmode .dark-grey{background-color: #cccccc !important; border-color: #cccccc !important; color: black !important;}
.lightmode .grey{background-color: #e6e6e6 !important; border-color: #e6e6e6 !important; color: black !important;}
.lightmode .grey-border{border: solid 3px #e6e6e6 !important;}

.darkmode .dark-grey{background-color: #333333 !important; border-color: #333333 !important; color: white !important;}
.darkmode .grey{background-color: #1a1a1a !important; border-color: #1a1a1a !important; color: white !important;}
.darkmode .grey-border{border: solid 3px #1a1a1a !important;}

.dark-blue{background-color: #003ecc !important; border-color: #003ecc !important; color: white !important;}
.blue{background-color: #004dff !important; border-color: #004dff !important; color: white !important;}
.transparent-blue{background-color: #004dff33 !important; border-color: #004dff !important; color: #004dff !important;}
.blue-border{border: solid 3px #004dff !important;}
.blue-text{color: #004dff !important;}

.dark-green{background-color: #007f00 !important; border-color: #007f00 !important; color: white !important;}
.green{background-color: #00b300 !important; border-color: #00b300 !important; color: white !important;}
.transparent-green{background-color: #00b30033 !important; border-color: #00b300 !important; color: #00b300 !important;}
.green-border{border: solid 3px #00b300 !important;}
.green-text{color: #00b300 !important;}

.dark-yellow{background-color: #cc9900 !important; border-color: #cc9900 !important; color: white !important;}
.yellow{background-color: #ffbf00 !important; border-color: #ffbf00 !important; color: white !important;}
.transparent-yellow{background-color: #ffbf0033 !important; border-color: #ffbf00 !important; color: #ffbf00 !important;}
.yellow-border{border: solid 3px  #ffbf00 !important;}
.yellow-text{color: #ffbf00 !important;}

.dark-red{background-color: #b30000 !important; border-color: #b30000 !important; color: white !important;}
.red{background-color: #e60000 !important; border-color: #e60000 !important; color: white !important;}
.transparent-red{background-color: #e6000033 !important; border-color: #e60000 !important; color: #e60000 !important;}
.red-border{border: solid 3px #e60000 !important;}
.red-text{color: #e60000 !important;}

/* darkmode and lightmode */

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
    body > * {
        background-color: black;
        color: white;
    }
}

.darkmode{background-color: black; color: white;}
.darkmode > * {background-color: black; color: white;}
.lightmode{background-color: white; color: black;}
.lightmode > * {background-color: white; color: black;}

/* padding */

.pd-0{padding: 0px !important}
.pd-5{padding: 5px !important}
.pd-10{padding: 10px !important}
.pd-20{padding: 20px !important}
.pd-30{padding: 30px !important}
.pd-50{padding: 50px !important}

/* margin */

.mg-0{margin: 0px !important}
.mg-5{margin: 5px !important}
.mg-10{margin: 10px !important}
.mg-20{margin: 20px !important}
.mg-30{margin: 30px !important}
.mg-50{margin: 50px !important}

.mg-t{margin-top: 30px !important}
.mg-l{margin-left: 30px !important}
.mg-r{margin-right: 30px !important}
.mg-b{margin-bottom: 30px !important}
.mg-b-0{margin-bottom: 0px !important}

.mg-center{margin-left: auto !important; margin-right: auto !important}

/* radius */

.r-0{border-radius: 0px !important}
.r-5{border-radius: 5px !important}
.r-10{border-radius: 10px !important}
.r-20{border-radius: 20px!important}
.r-30{border-radius: 30px !important}
.r-50{border-radius: 50px!important}

/* overflow */

.overflow {
    max-width: 100%;
    overflow: hidden !important;
}

.overflow:hover{overflow-x: auto !important}
@media (hover: none) {.overflow{overflow-x: auto !important}}
@media screen and (max-width: 768px) {.overflow{overflow-x: auto !important}}

/* header */

.header{
    padding: 40px;
    z-index: 2;
    color: white;
    font-size: 40px;
    background-color: #003ecc;
}

@media screen and (max-width: 768px) {.header{display: none;}}

/* menu */

.menu{
    box-sizing: border-box;
    margin-bottom: 0;
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
    top: 0;
    max-height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    background-color: #004dff;
    overflow: hidden;
}

.menu:hover{overflow-x: auto}
@media (hover: none) {.menu{overflow-x: auto}}
@media screen and (max-width: 768px) {.menu{overflow-x: auto}}

.menu a{
    padding: 0 10px;
    font-size: 19px;
    text-decoration: none;
    color: #ffffff99;
    float: left;
}

.menu-centered-2 a{padding: 0px; width: 50%;}
.menu-centered-3 a{padding: 0px; width: 33%;}
.menu-centered-4 a{padding: 0px; width: 25%;}
.menu-centered-5 a{padding: 0px; width: 19%;}
.menu-centered-6 a{padding: 0px; width: 16%;}
.menu-centered-7 a{padding: 0px; width: 14%;}
.menu-centered-8 a{padding: 0px; width: 12%;}
.menu-centered-9 a{padding: 0px; width: 11%;}

.menu a:hover{
    color: white;
    cursor: pointer;
}

.menu-active{
    color: white !important;
}

.menu-title{
    color: white !important;
}

@media (max-width: 768px) {.menu-transparent.responsive{background-color: #004dff;}}

.menu img{
    float: left;
    box-sizing: border-box;
    display: inline;
    width: initial;
    height: 50px;
    padding: 16px 10px 16px 10px;
    margin: 0px;
    cursor: pointer;
}

/* navigation */

.navigation{
    position: absolute;
    display: block;
    position: fixed;
    left: 0;
    height: calc(100% - 130px);
    padding: 40px 20px;
    width: 210px;
    color: black;
    background-color: #e6e6e6;
    z-index: 1;
    transition: left 0.2s;
    overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
    .navigation{
        background-color: #1a1a1a;
        color: white;
    }
}

.lightmode > .navigation{
    background-color: #e6e6e6;
    color: black;
}

.darkmode > .navigation{
    background-color: #1a1a1a;
    color: white;
}

.navigation:hover{overflow-y: auto}
@media (hover: none) {.navigation{overflow-y: auto}}
@media screen and (max-width: 768px) {.navigation{overflow-y: auto}}

.navigation img{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 190px;
}

.navigation  > *:first-child{
    margin-top: 0px;
}

.navigation h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}

.navigation > *{
    display: block;
    max-width: 230px;
    padding: 0px 10px;
    line-height: 40px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
    .navigation > *{
        color: white;
    }
}

.lightmode .navigation > *{
    color: black;
}

.darkmode .navigation > *{
    color: white;
}

.navigation a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .navigation a:hover{
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
}

.lightmode .navigation a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.darkmode .navigation a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.navigation a:active, .navigation a:visited{
    color: black;
}

@media (prefers-color-scheme: dark) {
    .navigation a:active, .navigation a:visited{
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
}

.lightmode .navigation a:active, .lightmode > .navigation a:visited{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.darkmode .navigation a:active, .darkmode > .navigation a:visited{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.navigation-active{
    background-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    .navigation-active{
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
}

.ligtmode .navigation-active{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.darkmode .navigation-active{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.navigation-content{
    margin-left: 250px;
}

@media (max-width: 768px){
    .navigation-display{left: 0px !important;}
    .navigation-content-hide{opacity: 0.5;}
}
.navigation-absolute{position: absolute;}
.navigation-absolute div{position: sticky; top: 50px;}

@media (max-width: 768px){.navigation{left: -250px;}}
@media (max-width: 768px){.navigation-content{margin-left: 0;}}
@media (max-width: 992px){.navigation-content .container{width: 100%}}

/* layout */

.container{
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    transition: width .2s;
}

.container-fluid{
    box-sizing: border-box;
    padding: 50px;
}

.container-sm{max-width: 600px;}
.container-md{max-width: 800px;}
.container-xl{max-width: 1200px;}

[class*="container"] > *:first-child{margin-top: 0}
[class*="container"] > *:last-child{margin-bottom: 0}

@media (max-width: 768px){[class*="container"]{padding: 30px;}}

/* grids */

.row{
    display: block;
    overflow: hidden;
}

.row::after{
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
}
        
[class*="col-"]{
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0px;
}

@media only screen and (min-width: 600px){
    .col-sm-1{width: 8.33%}
    .col-sm-2{width: 16.66%}
    .col-sm-3{width: 25%}
    .col-sm-4{width: 33.33%}
    .col-sm-5{width: 41.66%}
    .col-sm-6{width: 50%}
    .col-sm-7{width: 58.33%}
    .col-sm-8{width: 66.66%}
    .col-sm-9{width: 75%}
    .col-sm-10{width: 83.33%}
    .col-sm-11{width: 91.66%}
    .col-sm-12{width: 100%}
    [class*="col-sm-"]{padding: 0px 15px}
}

@media only screen and (min-width: 768px){
    .col-md-1{width: 8.33%}
    .col-md-2{width: 16.66%}
    .col-md-3{width: 25%}
    .col-md-4{width: 33.33%}
    .col-md-5{width: 41.66%}
    .col-md-6{width: 50%}
    .col-md-7{width: 58.33%}
    .col-md-8{width: 66.66%}
    .col-md-9{width: 75%}
    .col-md-10{width: 83.33%}
    .col-md-11{width: 91.66%}
    .col-md-12{width: 100%}
    [class*="col-md-"]{padding: 0px 15px}
}

@media only screen and (min-width: 1024px){
    .col-xl-1{width: 8.33%}
    .col-xl-2{width: 16.66%}
    .col-xl-3{width: 25%}
    .col-xl-4{width: 33.33%}
    .col-xl-5{width: 41.66%}
    .col-xl-6{width: 50%}
    .col-xl-7{width: 58.33%}
    .col-xl-8{width: 66.66%}
    .col-xl-9{width: 75%}
    .col-xl-10{width: 83.33%}
    .col-xl-11{width: 91.66%}
    .col-xl-12{width: 100%}
    [class*="col-xl-"]{padding: 0px 15px}
}

.row > [class*="col-"]:first-child{padding-left: 0px}
.row > [class*="col-"]:last-child{padding-right: 0px}

/* headlines */

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 80px 0px 20px 0px;
}

h1{font-size: 40px; line-height: 50px}
h2{font-size: 30px; line-height: 30px;}
h3{font-size: 25px; line-height: 25px;}
h4{font-size: 20px; line-height: 20px;}
h5{font-size: 18px; line-height: 18px; font-weight: bold;}
h6{font-size: 16px; line-height: 16px; font-weight: bold; text-transform: uppercase;}

/* froms */

input, select, textarea{
    display: block;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #e6e6e6;
    min-height: 40px;
    font-size: 16px;
    padding: 10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px;
    border-bottom-width: 3px;
    border-radius: 5px;
    width: 100%;
}

textarea{
    height: auto;
    resize: vertical;
}

@media (prefers-color-scheme: dark) {
    input, select, textarea{
        color: white;
        background-color: #1a1a1a;
        border-color: #333333;
    }
}

.lightmode input, .lightmode select, .lightmode textarea{
    color: black;
    background-color: #e6e6e6;
    border-color: #cccccc;
}

.darkmode input, .darkmode select, .darkmode textarea{
    color: white;
    background-color: #1a1a1a;
    border-color: #333333;
}

input[type=submit]{
    font-size: 18px;
    box-sizing: border-box;
    min-height: 40px;
    height: 40px;
    border: none;
    background-color: #004dff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input:focus, select:focus, textarea:focus{
    border-color: #004dff;
}

.button{
    font-size: 18px;
    line-height: 35px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #004dff;
    border: none;
    color: white;
    padding: 2.5px 20px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    width: min-content;
    cursor: pointer;
}

textarea, select, input, button {outline: none;}

@media screen and (max-width: 768px) {input, select, textarea{width: 100%;}}

/* dropdown */

.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    border-color: #cccccc;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: fit-content;
}

.dropdown-content > *:first-child{margin-top: 0px}
.dropdown-content > *:last-child{margin-bottom: 0px}

.lightmode .dropdown-content{
    background-color: #e6e6e6;
    border-color: #cccccc;
}

.darkmode .dropdown-content{
    background-color: #1a1a1a;
    border-color: #333333;
}

@media (prefers-color-scheme: dark) {
    .dropdown-content{
        background-color: #1a1a1a;
        border-color: #333333;
    }
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    text-align: left;
    min-width: 150px;
    padding: 0px 10px;
    line-height: 40px;
    font-size: 18px;
    color: black;
}

.lightmode .dropdown-content a{color: black;}
.darkmode .dropdown-content a{color: white;}
@media (prefers-color-scheme: dark) {.dropdown-content a{color: white;}}

.dropdown-content a:hover{
    color: black;
    background-color: #cccccc
}

.lightmode .dropdown-content a:hover{
    color: black;
    background-color: #cccccc
}

.darkmode .dropdown-content a:hover{
    color: white;
    background-color: #333333;
}

@media (prefers-color-scheme: dark) {
    .dropdown-content a:hover{
        color: white;
        background-color: #333333;
    }
}

/* dialog */

.dialog{
    display: none;
    position: fixed; 
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.dialog-content{
    position: absolute;
    min-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6e6e6;
    border-color: #cccccc;
    border-style: solid;
    border-width: 3px;
}

.lightmode .dialog{background-color: rgba(255, 255, 255, 0.5)}

.darkmode .dialog{background-color: rgba(0, 0, 0, 0.5)}

@media (prefers-color-scheme: dark) {
    .dialog{ background-color: rgba(0, 0, 0, 0.5)}
}

.lightmode .dialog-content{
    background-color: #e6e6e6;
    border-color: #cccccc;
}

.darkmode .dialog-content{
    background-color: #1a1a1a;
    border-color: #333333;
}

@media (prefers-color-scheme: dark) {
    .dialog-content{
        background-color: #1a1a1a;
        border-color: #333333;
    }
}

/* labels */

label{
    color: white;
    background-color: #004dff;
    border: solid 3px #004dff;
    font-weight: 500;
    border-radius: 5px;
    padding: 0px 4px;
}

/* media */

.media{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 64px auto;
    margin-bottom: 30px;
}

.media img{
    background-image: url(Icon.jpg);
    max-height: 64px;
    max-width: 64px;
    float: left;
    margin: 0px;
    margin-right: 10px;
}

.media-content:first-child{
    margin: 0px;
}

.media-content:last-child{
    margin-bottom: 0px;
}

.media-content h1,
.media-content h2,
.media-content h3,
.media-content h4,
.media-content h5,
.media-content h6{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* boxes */

.box{
    min-height: 20px;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

img.box{
    padding: 0px;
}

@media (prefers-color-scheme: dark) {
    .box{
        background-color: #1a1a1a;
    }
}

.lightmode .box{
    background-color: #e6e6e6;
}

.darkmode .box{
    background-color: #1a1a1a;
}

.box-border{
    background-color: #e6e6e6 !important;
    color: black !important;
    border-color: #004dff;
    border-style: solid !important;
    border-width: 0px 0px 0px 5px !important;
}

@media (prefers-color-scheme: dark) {
    .box-border{
        color: white !important;
        background-color: #1a1a1a !important;
    }
}

.lightmode .box-border{
    color: black !important;
    background-color: #e6e6e6 !important;
}

.darkmode .box-border{
    color: white !important;
    background-color: #1a1a1a !important;
}

.box-top{
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
}

.box-center{
    border-radius: 0px;
    margin-bottom: 0px;
}

.box-bottom{
    border-radius: 0px 0px 5px 5px;
}

.box > *:first-child{
    margin-top: 0;
}

.box > *:last-child{
    margin-bottom: 0;
}

@media (max-width: 767px) {.box{padding: 15px}}

.overlay{
    position: relative;
}
  
.overlay > .top-left {
    position: absolute;
    text-align: left;
    margin: 20px;
    top: 0px;
    left: 0px;
}
  
.overlay > .top-right {
    position: absolute;
    text-align: right;
    margin: 20px;
    top: 0px;
    right: 0px;
}

.overlay > .bottom-left {
    position: absolute;
    text-align: left;
    margin: 20px;
    bottom: 0px;
    left: 0px;
}
  
.overlay > .bottom-right {
    position: absolute;
    text-align: right;
    margin: 20px;
    bottom: 0px;
    right: 0px;
}
  
.overlay > .centered {
    position: absolute;
    text-align: center;
    margin: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* code elements */

code{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 25px;
    display: block;
    background-color: #e6e6e6;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
    code{
        background-color: #1a1a1a;
    }
}

.lightmode code{
    background-color: #e6e6e6;
}

.darkmode code{
    background-color: #1a1a1a;
}

pre{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 25px;
    display: block;
    color: white;
    background-color: #1a1a1a;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: hidden;
}

var{
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    white-space: nowrap;
}

kbd{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    border: solid 1px;
    padding: 0 2px;
    border-radius: 2.5px;
}

samp{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    padding: 2px;
    background-color: #e6e6e6;
    border-radius: 2.5px;
}

@media (prefers-color-scheme: dark) {
    samp{
        color: white;
        background-color: #1a1a1a;
    }
}

.lightmode samp{
    color: black;
    background-color: #e6e6e6;
}

.darkmode samp{
    color: white;
    background-color: #1a1a1a;
}

code:hover{overflow-x: auto;}
pre:hover{overflow-x: auto;}

@media (hover: none) {
    code{overflow-x: auto;}
    pre{overflow-x: auto;}
}

@media screen and (max-width: 768px) {
    code{overflow-x: auto;}
    pre{overflow-x: auto;}
}

@media (max-width: 768px) {
    code, pre, samp, kbd{font-size: 12px;}
    var{font-size: 15px;}
}

/* Table */

table{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 30px;
    overflow-x: auto;
}

table tr th{
    background-color: #e6e6e6;
    padding: 10px;
    min-width: 60px;
    font-weight: normal;
    border-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    table tr th{
        background-color: #1a1a1a;
        border-color: #1a1a1a;
    }
}

.lightmode table tr th{
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.darkmode table tr th{
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

table td, th{
    padding: 10px;
    text-align: left;
    border: solid 3px #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    table td, th{
        border-color: #1a1a1a;
    }
}

.lightmode td, th{
    border-color: #e6e6e6;
}

.darkmode td, th{
    border-color: #1a1a1a;
}

@media (max-width: 768px) {table tr th{padding: 2px 7px;}table tr td{padding: 2px 7px;}}

/* components */

p{
    margin: 0px;
    margin-bottom: 30px;
}

a{
    color: #004dff;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

img{
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    margin-bottom: 30px;
}

video{
    display: block;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;;
    object-fit: scale-down;
    margin-bottom: 30px;
}

iframe{
    width: 100%;
    height: 100%;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: 30px;
}

ul{
    padding-left: 17px;
    margin: 0px;
    margin-bottom: 30px;
}

ul li{padding-bottom: 5px;}
ul li:last-child{padding-bottom: 0px;}

ol{
    padding-left: 17px;
    margin: 0px;
    margin-bottom: 30px;
}

ol li{padding-bottom: 5px;}
ol li:last-child{padding-bottom: 0px;}