<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Archived</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Archived")</script>
		<div class="navigation-content">
			<div style="margin: 0px auto; padding: 50px 20px; max-width: 1200px;">
				<div class="overflow nowrap">
					<div class="table-grid" style="grid-template-columns: repeat(2, fit-content(100px)) auto repeat(3, fit-content(100px));">
						<div class="grey">ID</div>
						<div class="grey">Departure</div>
						<div class="grey">Name</div>
						<div class="grey">From</div>
						<div class="grey">To</div>
						<div class="grey"></div>
						<div th:each="line : ${archived}" class="content">
							<div style="width: fit-content;"><span class="transparent-blue id" th:text="${line.id}"></span></div>
							<div th:text="${line.departure}"></div>
							<div>
								<span th:text="${line.getName()}"></span>&nbsp;
								<label class="red" th:if="${line.cancelled}">CANCELLED</label>
								<label th:classappend="${line.delay} > 5? 'red' : 'yellow'" th:text="'+' + ${line.delay}" th:unless="${line.delay} < 2 or ${line.cancelled}"></label>
							</div>
							<div th:text="${line.getFirstStation() != null ? line.getFirstStation().name : ''}"></div> 
							<div th:text="${line.getLastStation() != null ? line.getLastStation().name : ''}"></div>
							<div><a class="button" th:href="@{'/studio/archived/edit?&id=' + ${line.id}}">Edit</a></div>
						</div>
					</div>
				<div>
			</div>
		</div>

    </body>
</html>