<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Templates</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Templates")</script>
		<div class="navigation-content">
			<div style="margin: 0px auto; padding: 50px 50px; max-width: 1200px;">
				<div style="display: flex;"><div class="width-100"></div>
					<a class="button mg-b" th:href="@{/studio/templates/edit}">New Template</a>
				</div>	
				<div class="overflow r-1 nowrap">
					<table id="reload">
						<tr th:if="!${templates.isEmpty()}">
							<th>Departure</th>
							<th class='width-100'>Name</th>
							<th>From</th>
							<th>To</th>
							<th></th>
						</tr>
						<tr th:each="line : ${templates}">
							<td th:text="${line.departure}"></td>
							<td>
								<span th:text="${line.getName()}"></span>&nbsp;
								<label class="red" th:if="${line.cancelled}">CANCELLED</label>
								<label th:classappend="${line.delay} > 5? 'red' : 'yellow'" th:text="'+' + ${line.delay}" th:unless="${line.delay} < 2 or ${line.cancelled}"></label>
							</td>
							<td th:text="${line.getFirstStation() != null ? line.getFirstStation().name : ''}"></td>
							<td th:text="${line.getLastStation() != null ? line.getLastStation().name : ''}"></td>
							<td><a class="button" th:href="@{'/studio/templates/edit?&id=' + ${line.id}}">Edit</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

    </body>
</html>