<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Users</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		<script>reload()</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Users")</script>
		<div class="navigation-content">
			<div style="margin: 0px auto; padding: 50px 50px; max-width: 1200px;">
				<div style="display: flex;"><div class="width-100"></div>
					<a class="button mg-b" th:href="@{/studio/users/edit}">New</a>
				</div>	
				<div class="overflow r-1 nowrap">
					<table>
						<tr>
							<th>ID</th>
							<th>Email</th>
							<th class='width-100'>Name</th>
							<th></th>
						</tr>
						<tr th:each="user : ${users}">
							<td><span class="transparent-blue r-1" style="padding: 0px 5px;" th:text="${user.id}"></span></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.name}"></td>
							<td><a class="button" th:href="@{'/studio/users/edit?id=' + ${user.id}}">Edit</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

    </body>
</html>