<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS Studio - Users</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Studio")</script>
		
		<div th:replace="components :: navigation"></div>
		<script>setNavigationFocus("Users")</script>
		<div class="navigation-content">
			<div style="margin: 0px auto; padding: 50px 20px; max-width: 1200px;">
				<div style="display: flex;"><div class="width-100"></div>
					<a class="button mg-b" th:href="@{/studio/users/edit}">New User</a>
				</div>
				<div class="overflow nowrap">
					<div class="table-grid" style="grid-template-columns: repeat(2, fit-content(100px)) auto fit-content(100px);">
						<div class="grey">ID</div>
						<div class="grey">Email</div>
						<div class="grey">Name</div>
						<div class="grey"></div>
						<tr th:each="user : ${users}" class="content">
							<div><span class="transparent-blue id" th:text="${user.id}"></span></div>
							<div th:text="${user.email}"></div>
							<div th:text="${user.name}"></div>
							<div><a class="button" th:href="@{'/studio/users/edit?id=' + ${user.id}}">Edit</a></div>
						</tr>
					</div>
				<div>
			</div>
		</div>

    </body>
</html>