<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Forgot Password</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>

        <div style="padding: 50px 20px;">
        	<form class="form-grid-1"action="/forgot" method="POST">
				<h2>Forgot password</h2>
				<div>
					<span>Email:</span>
					<input type="email" name='email' path="email" required>
				</div>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Send reset email">
			</form>
        </div>

    </body>
</html>