<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title th:text="'PIS - ' + ${line.getName()}"></title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
        <script>setMenuFocus("Lines")</script>

        <div class="container" id="reload">
        	<div class="box box-table pd-30">
				<div class="grid">
					<div class="title" th:text="${line.getDepartureAsString()}"></div>
					<div style="min-width: 20px;"><span th:text="'+' + ${line.getDelay()}" th:if="${line.getDelay()} > 1 and !${line.cancelled}" th:classappend="${line.getDelay()} > 5 ? red-text : yellow-text"></span></div>
					<div>
						<span class="title" th:text="${line.getName()}"></span>&nbsp;
						<label class="red" th:if="${line.cancelled}">CANCELLED</label>
						<i class="grey-text" style="white-space: nowrap;" th:text="'from ' + ${line.getFirstStation().name}" th:unless="${line.stations.isEmpty()}"></i>
					</div>
					<div th:each="station, status : ${line.stations}" class="content">
						<div style="text-align: right; position: relative;" th:classappend="${station.passed} ? passed : ''">
							<div class="line" th:unless="${status.first}" th:classappend="${station.getStatusColor(line)}"></div>
							<div class="circle" th:classappend="${station.getStatusColor(line)}"></div>
							<span th:text="${station.getDepartureAsString()}" th:unless="${station.cancelled}"></span>
							<s class="red-text" th:text="${station.getDepartureAsString()}" th:if="${station.cancelled}"></s>
						</div>
						<div><span th:text="'+' + ${station.getDelay()}" th:if="${station.getDelay()} > 1 and !${line.cancelled} and !${station.cancelled}" th:classappend="${station.getDelay()} > 5 ? red-text : yellow-text"></span></div>
						<div>
							<a class="grey" th:href="@{'/stations/' + ${station.id}}" th:text="${station.name}" th:unless="${station.cancelled}"></a>
							<s class="red-text" th:text="${station.name}" th:if="${station.cancelled}"></s>
							&nbsp;
							<i class="grey-text" th:text="' Pl.' + ${station.platform}" th:unless="${station.changedPlatform} != 0 and ${station.changedPlatform} != ${station.platform} and !${line.cancelled} or ${station.cancelled}"></i>
							<i class="red-text" th:if="${station.changedPlatform} != 0 and ${station.changedPlatform} != ${station.platform} and !${line.cancelled} or ${station.cancelled}">
								<s class="red-text" th:text="' Pl.' + ${station.platform}"></s>
								<i class="red-text" th:text="' Pl.' + ${station.changedPlatform}" th:unless="${station.cancelled}"></i>
							</i>
						</div>
					</div>
				</div>
				<div style="display:flex; gap: 20px;">
					<div class="width-100">
						<span>ID: </span><span class="transparent-blue id" th:text="${line.id}"></span><br>
						<span>Type: </span><i th:text="${line.type.getName()}"></i><br>
						<span>Number: </span><i th:text="${line.number}"></i><br>
						<span>Lenght: </span><i th:text="${line.length}"></i><br>
						<span>Operator: </span><i th:text="${line.operator}"></i><br>
						<span>Driver: </span><i th:text="${line.driver}"></i><br>
					</div>
					<a class="not-mobile" style="margin-top: auto;" target="blank" th:href="@{'/api/lines/' + ${line.id}}">Raw Line Data &rarr;</a>
				</div>
			</div>
        </div>

    </body>
</html>