<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Login</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>
        
        <div style="padding: 50px 20px;">
        	<form class="form-grid-1" action="login" method="post">
        		<h2>Login</h2>
				<div>
					<span>Username:</span>
					<input type="text" name='username' required>
				</div>
				<div>
					<span>Password:</span>
					<input type="password" name='password' required>
				</div>
				<span class="red-text" th:if="${param.failed}">
					Your credentials aren't correct, please try again!
				</span>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Login">
        	</formm>
        </div>

    </body>
</html>