<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Login</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>
        
        <div style="padding: 50px 20px 50px 20px;">
        	<form class="blue-border r-2 pd-3 fit-content form-grid form-grid-1" style="margin: 0px auto 0px auto;" action="login" method="post">
        		<h2 style="margin-top: 0; margin-bottom: 40px;">Login</h2>
				<span>Username:</span>
				<input type="text" name='username' required>
				<span>Password:</span>
				<input type="password" name='password' required>
				<span class="red-text" th:if="${param.failed}">
					Your credentials aren't correct, please try again!
				</span>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Login">
        	</formm>
        </div>

    </body>
</html>