<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Login</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>

        <div class="container blue-border" style="border-radius: 10px; width: 405px; margin-top: 50px;">
			<form action="/password" method="POST">
				<h2 style="margin-top: 0; margin-bottom: 40px;">Change Password</h2>
				<input style="display: none;" type="text" name='user' path="user" th:value="${param.id}">
				<span>Old password:</span>
				<input type="password" name='old-password' path="old-password" required>
				<span>New password:</span>
				<input type="password" name='new-password' path="new-password" required>
				<span>Repeat new password:</span>
				<input type="password" name='repeat-new-password' path="repeat-new-password" required>
				<span class="red-text" th:if="${param.error != null}" th:text="${param.error}"></span>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Change Password">
			</form>
        </div>

    </body>
</html>