<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title>PIS - Password</title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
		<script>setMenuFocus("Login")</script>

        <div style="padding: 50px 20px;">
        	<form class="form-grid-1" action="/password" method="POST">
				<h2>Change Password</h2>
				<input style="display: none;" type="text" name='user' path="user" th:value="${param.id}">
				<div>
					<span>Old password:</span>
					<input type="password" name='old-password' path="old-password" required>
				</div>
				<div>
					<span>New password:</span>
					<input type="password" name='new-password' path="new-password" required>
				</div>
				<div>
					<span>Repeat new password:</span>
					<input type="password" name='repeat-new-password' path="repeat-new-password" required>
				</div>
				<span class="red-text" th:if="${param.error != null}" th:text="${param.error}"></span>
				<input style="margin: 40px 0px 0px 0px;" name="submit" type="submit" value="Change Password">
			</form>
        </div>

    </body>
</html>