<!DOCTYPE html>
<html>
    <head>
    	<div th:replace="components :: head"></div>
        <title th:text="'PIS - ' + ${station.name}"></title>
    </head>
    <body>
		<div th:replace="components :: menu"></div>
        <script>setMenuFocus("Stations")</script>
        <script>reload()</script>

        <div class="container" id="reload">
        	<div class="box pd-30">
				<div class="title mg-b" th:text="${station.name}"></div>
				<div style="display: flex; gap: 30px;">
					<div class="width-100">
						<span>Platforms: </span><i th:text="${station.platforms}"></i><br>
					</div>
					<a th:href="@{'/api/stations/' + ${station.id}}" target="blank" class="not-mobile">Raw Station Data &rarr;</a>
				</div>
			</div>
			<h2 th:text="'Lines via station ' + ${station.name}"></h2>
			<th:block th:insert="components :: line" th:each="line : ${station.getLines()}"></th:block>
			<div th:if="${station.getLines().isEmpty()}">
 				<div class="box">No lines found!</div>
			</div>
        </div>

    </body>
</html>